.element__like{
    background:url(../../../img/img__like.svg);
    height:19px;
    width:22px;
    margin-right:20px;
    margin-left:30px;
    border:none;
}

.element__like:hover{
    opacity: 0.6;
}

.element__like:active{
    width: 22px; 
	height: 19px; 
	background: url(../../../img/img__like_active.svg); 
	background-repeat: no-repeat; 
	border: none; 
	opacity: 1; 
}