.header{
    width:880px;
    border-bottom:solid 1px #545454;
    margin:45px auto 36px auto
}

@media screen and (max-width:600px){
    .header{
        margin-top: 28px;
        margin-bottom: 38px;
    }
}

@media screen and (max-width:1024px){
    .header{
        max-width:calc(100vw*(880/1024));
    }
}