.profile__inform{
    max-width:336px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-between;
    transition: visibility 0s linear 0.5s,opacity 0.5s linear; 
}  

@media screen and (max-width:780px){
    .profile__inform{
      justify-content: center;
    }
}