@import url(../vendor/fonts.css);
.page{
    background-color:#000;
    color:#fff;
    font-family: 'Inter', 'Arial', sans-serif;
    margin:0;
    padding:0; 
    display:flex;
    flex-direction: column; 
    justify-content: center;
  }

.header{
    width:880px;
    border-bottom:solid 1px #545454;
    margin:45px auto 36px auto
}

@media screen and (max-width:600px){
    .header{
        margin-top: 28px;
        margin-bottom: 38px;
    }
}

@media screen and (max-width:1024px){
    .header{
        max-width:calc(100vw*(880/1024));
    }
}

.header__logo{
    margin-bottom:41px;
}

@media screen and (max-width:600px) {
    .header__logo{
        margin-bottom: 31px;
    }
}

.profile{
    width:880px;
    margin:0 auto 51px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

@media screen and (max-width:1024px){
    .profile{
        max-width:calc(100vw*(880/1024));
    }
}

@media screen and (max-width:780px) {
    .profile{
        flex-direction: column;
        margin-bottom: 36px;
    }  
}

.profile__info{
    display:flex;
}

@media screen and (max-width:780px){
    .profile__info{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.profile__inform{
    max-width:336px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-between;

}  

@media screen and (max-width:780px){
    .profile__inform{
      justify-content: center;
    }
}

.profile__avatar{
    border-radius:200px;
    max-width:120px;
    aspect-ratio: 1 / 1;
    margin-right:26px;
}

@media screen and (max-width:780px) {
    .profile__avatar{
        margin-right: 0;
        margin-bottom: 22px;
    }
}

.profile__info_name{
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    max-width:294px;
    margin-top:0;
    margin-bottom:10px;
}

@media screen and (max-width:780px){
    .profile__info_name{
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin-right: 10px;
        margin-bottom: 0;
    }
}

.profile__info_edit-button{
    background: url(../img/Vector.svg);
    width:24px;
    height:24px;
    border: solid 2px #ffffff; 
    background-repeat: no-repeat;
    background-position: center;
}

.profile__info_edit-button:hover{
    opacity: 0.6;
}

@media screen and (max-width:780px) {
    .profile__info_edit-button{
        width:18px;
        height:18px; 
    }
}

.profile__info_hobby{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom:0;
    margin-top:0;
}

@media screen and (max-width:780px){
    .profile__info_hobby{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 36px;
        margin-top: 14px;
    }
}

.profile__button{
    background:url(../img/button.svg);
    width: 150px; 
    height: 50px; 
    border: solid 2px #ffffff; 
    background-repeat: no-repeat;
}

@media screen and (max-width:780px){
    .profile__button{
      background:url(../img/img__plus_big.svg);
      width:282px;  
    }
}

.profile__button:hover{
    opacity:0.6;
}

.elements{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:auto auto;
    column-gap: 17px;
    row-gap: 20px;
    max-width:880px;
    margin:46px auto 0; 
}

@media screen and (max-width:1024px){
    .elements{
        grid-template-columns:282px 282px;
        justify-content: center;
        margin-top:0;
    }
}

@media screen and (max-width:600px) {
    .elements{
        grid-template-columns: 1fr;
    }
}

.element__img{
    max-width:282px;
    aspect-ratio: 1 / 1;
    margin:0;
    border-radius:10px 10px 0 0;
    margin-bottom:-10px
}

.element__header{
    max-width:282px;
    background-color:#fff;
    color:#000;
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin:0;
    border-radius:0 0 10px 10px;
}

.element__appellation{
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left:21px;
    width:190px;
}

.element__like{
    background:url(../img/img__like.svg);
    height:19px;
    width:22px;
    margin-right:20px;
    margin-left:30px;
    border:none;
}

.element__like:hover{
    opacity: 0.6;
}

.element__like:active{
    width: 22px; 
	height: 19px; 
	background: url(../img/img__like_active.svg); 
	background-repeat: no-repeat; 
	border: none; 
	opacity: 1; 
}

.element__vector{
    margin-right:20px;
}

.footer{
    color: #545454;;
    width:880px;
    margin:67px auto 60px;
    display:flex;
    justify-items: flex-end;
    padding: 0;
}

@media screen and (max-width:1024px){
    .footer{
        max-width:calc(100vw*(880/1024));
    }
}

@media screen and (max-width:600px){
    .footer{
        margin:48px auto 36px;
    }
}

.footer__copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;  
}

@media screen and (max-width:600px) {
    .footer__copyright{
        font-size: 14px;
        line-height: 17px; 
    }
}

.popup{
    position: fixed; 
	top: 0; 
	display: flex; 
	width: 100%; 
	height: 100%; 
	background: rgba(0, 0, 0, 0.5); 
	visibility: hidden; 
}

.popup__opened{
    visibility: visible;
}

.popup__container{
    margin: auto; 
	position: relative;
    width:430px;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width:600px){
    .popup__container{
        max-width:282px;
    }
}

.popup__close-icon{
    background: url(../img/close_icon.svg);
    background-repeat: no-repeat; 
    height:32px;
    width:32px;
    position:absolute;
    top:-35px;
    right:-35px;
}
.popup__close-icon:hover{
    opacity: 0.6;
}

.popup__close-icon:active{
    visibility: hidden;
}

@media screen and (max-width:600px){
    .popup__close-icon{
        width:20px;
        height:20px;
        top:-35px;
        right:0px;
    }
}

.popup__form{
    display:flex;
    flex-direction: column;
    justify-items: center;
}

.popup__heading{
    color:#000;
    width:330px;
    margin:34px auto 54px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width:600px){
    .popup__heading{
        width:238px;
        font-size: 18px;
        line-height: 22px;
        margin-top:25px;
        margin-bottom:75px;
    }
}

.popup__input{
    border: none; 
}

.popup__item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border:0;
    width:358px;
    padding-bottom:13px;
    margin:0 auto;
    border-bottom: 1px solid #bcbcc4;
    margin-bottom:30px;
}

@media screen and (max-width:600px){
    .popup__item{
        width:238px;
    }
}

.popup__button{
    width:358px;
    height:50px;
    background-color: #000;
    color:#fff;
    margin:18px auto 37px;
    border:none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
}

.popup__button:hover{
    opacity: 0.6;
}

@media screen and (max-width:600px){
    .popup__button{
        width:238px;
        margin-top:15px;
        margin-bottom:25px;

    }
}

/* *{outline: solid 1px green;} */