.element__header{
    max-width:282px;
    background-color:#fff;
    color:#000;
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin:0;
    border-radius:0 0 10px 10px;
}